<div class="container-fluid">
	<div class="row justify-content-center">
		<div *ngFor="let deck of decks$ | async" class="deck-card my-3 col-12 col-md-6 col-lg-4">
			<div class="card shadow h-100">
				<div class="card-body">
					<h3 class="card-title text-center">{{ deck.name }}</h3>
					<div class="card-text text-muted">Total Cards: {{ deck.cards.length }}</div>
					<div class="card-text text-muted my-2">Cards to Review: {{ deck.cardsToReview }}</div>
					<div class="container-fluid mt-3">
						<div class="row justify-content-around align-content-around">
							<button class="btn btn-outline-primary my-1 col-5"
											(click)="openNewCardModal(deck)">
								Add Cards
							</button>
							<button class="btn btn-outline-primary my-1 col-5"
											[routerLink]="['/deck', deck.name, 'edit']">
								Edit Cards
							</button>
							<button class="btn btn-outline-primary my-1 col-5"
											[routerLink]="['/deck', deck.name, 'review']">
								Review
							</button>
							<button class="btn btn-outline-primary my-1 col-5"
											(click)="openDeleteDeckModal(deck)">
								Delete
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="deck-card my-3 col-12 col-md-6 col-lg-4">
			<div class="card shadow h-100">
				<div class="card-body new-deck-card" (click)="openNewDeckModal()">
					<div class="row h-100 justify-content-around align-content-around">
						<img src="../../../assets/plus_small.png" alt="Create New Deck">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
