<div class="container-fluid p-4">
	<form [formGroup]="cardForm" (ngSubmit)="saveCard()">
		<div class="form-group row">
			<label for="front" class="col-sm-3 col-form-label">Front:</label>
			<div class="col-sm-9">
				<input type="text" id="front" class="form-control" formControlName="front">
			</div>
		</div>
		<div class="form-group row">
			<label for="back" class="col-sm-3 col-form-label">Back:</label>
			<div class="col-sm-9">
				<input type="text" id="back" class="form-control" formControlName="back">
			</div>
		</div>
		<div class="form-group row">
			<label for="tags" class="col-sm-3 col-form-label">Tags:</label>
			<div class="col-sm-9">
				<input type="text" id="tags" class="form-control" formControlName="tags">
				<small class="form-text text-muted">Optional. Separate each tag with a comma.</small>
			</div>
		</div>
		<div class="form-group row">
			<button class="btn btn-primary my-3 my-sm-0 col-sm-4 offset-sm-1"
							type="submit" [disabled]="!cardForm.valid">
				Save
			</button>
			<button class="btn btn-secondary col-sm-4 offset-sm-2"
							type="button" (click)="close()">
				Cancel
			</button>
			<button class="btn btn-danger mt-3 col-sm-4 offset-sm-4"
							type="button" (click)="delete.emit(); close()">
				Delete
			</button>
		</div>
	</form>
</div>
