<ng-container *ngIf="(deck$ | async) as deck">
	<h2 class="text-center mb-4">Review: {{ deck.name }}</h2>
	<div class="jumbotron d-flex justify-content-center">
		<div *ngIf="!deck.reviewState.active && !deck.reviewState.complete"
				 class="d-flex justify-content-center">
			<button type="button" class="btn btn-primary" (click)="deck.beginReview()">
				Begin Review
			</button>
		</div>
		<div *ngIf="deck.reviewState.active && !deck.reviewState.complete">
			<div class="d-flex justify-content-center">
				<app-card-review [card]="deck.reviewState.activeCard"
												 (review)="deck.reviewState.answered($event)">
				</app-card-review>
			</div>
			<div class="d-flex justify-content-center mt-4">
				<button type="button" class="btn btn-danger" (click)="deck.reviewState.active = false;">
					End Review
				</button>
			</div>
		</div>
		<div *ngIf="deck.reviewState.complete">
			Review Complete!
		</div>
	</div>
</ng-container>
