<h2 class="text-center mb-4">Review: {{ (deck$ | async)?.name }}</h2>
<div class="jumbotron">
	<div *ngIf="!reviewStart" class="d-flex justify-content-center">
		<button type="button" class="btn btn-primary" (click)="beginReview()">
			Begin Review
		</button>
	</div>
	<ng-container *ngIf="reviewStart && !reviewComplete">
		<div class="d-flex justify-content-center">
			<app-card-review [card]="card" (review)="submitAnswer($event)"></app-card-review>
		</div>
		<div class="d-flex justify-content-center mt-4">
			<button type="button" class="btn btn-danger" (click)="reviewStart = false;">
				End Review
			</button>
		</div>
	</ng-container>
	<div *ngIf="reviewComplete">
		<p>Review Complete!</p>
	</div>
</div>
