<table class="table table-hover table-sm">
	<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col">Front</th>
			<th scope="col">Back</th>
			<th scope="col">Tags</th>
			<th scope="col">Date Created</th>
			<th scope="col">Next Review</th>
			<th scope="col">Last Reviewed</th>
			<th scope="col">Edit</th>
			<th scope="col">Delete</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let card of (deck$ | async)?.cards as cards; index as i">
			<th scope="row">{{ i + 1 }}</th>
			<td>{{ card.front }}</td>
			<td>{{ card.back }}</td>
			<td>{{ card.tags.join(', ') }}</td>
			<td>{{ card.data.dateCreated.toLocaleDateString() }}</td>
			<td>{{ card.data.nextReview.toLocaleDateString() }}</td>
			<td>{{ card.data.lastReview.toLocaleDateString() }}</td>
			<td>
				<button type="button" class="btn btn-secondary" (click)="openEditCardModal(card)">Edit</button>
			</td>
			<td>
				<button type="button" class="btn btn-secondary" (click)="delete(card)">Delete</button>
			</td>
		</tr>
	</tbody>
</table>
